<h1>All Job Listings</h1>

  <table class="index">
    <colgroup>
      <col class="title">
      <col class="company">
      <col class="salary">
    </colgroup>
    <tr>
      <th>Job Title</th>
      <th>Company</th>
      <th>Salary</th>
    </tr>

    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td><%= job.company %></td>
        <td><%= number_to_currency(job.salary) %></td>
      </tr>
    <% end %>
  </table>

<%= link_to "Create a new job", new_job_path, class: "button" %>
